@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

.container {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: 70%;
  max-width: 800px;
}

.text {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.about-section {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.back-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.back-btn:hover {
    background-color: #0056b3;
}
